.main-cont {
    height: auto;
}

.fa-magnifying-glass{
    padding: 0;
    margin-top: 0.2rem;
    cursor: pointer;
}
.fa-magnifying-glass:hover {
    color: var(--main-color);
}
#footerRecentPosts {
    padding: 55px 34px 30px;
}
.smal-cont {
    height: auto;
    width: 95.8%;
    margin: 0 auto;
}

.smal-cont .row {
    width: 99.88%;
    margin: 0 auto;
}

.left-cont {
    padding-right: 9px;
    padding-left: 28px;
}

.right-cont {
    padding-right: 27px;
    padding-left: 60px;
}

.t-300 {
    position: relative;
    top: 230px;
}

.link-tag-text {
    font-size: 14px;
}

@media (max-width: 1360.98px) {
    #footerRecentPosts {
        padding: 55px 20px 30px;
    }
}
@media (max-width: 1299.98px) {
    #footerRecentPosts {
        padding: 55px 10px 30px;
    }
}


@media (max-width: 1200.98px) {
    #navLogo {
        position: absolute;
        left: calc(50% - 85px);
        top: calc(50% - 20px);
    }
    .navsActive #navLogo {
        margin: 0 auto;
        position: absolute;
        right: 0;
        left: 0;
    }
    .navs {
        height:88px;
    }
    .write-cont-title a {
        font-size: 28px;
    }

    .write-cont-text {
        font-size: 14px;
    }

    .write-cont .link-tag {
        font-size: 13px;
    }
    .link-tag-text {
        font-size: 13px;
    }

    .write-cont {
        padding-left: 30px;
    }

    .min {
        opacity: 0;
    }
    .profile {
        opacity: 0;
    }
 
    .img-cont img {
        width: 250px;
    }
    .userName {
        font-size: 16px;
    }
    .about-text {
        line-height: 1.8;
    }
    .recent-cont .article .underline-effect .recent-title {
        font-size: 13px;
    }
    #footerTagCloud {
        padding-left: 30px;
        margin-top: 1.7rem;
    }
    #footerFollowMe {
        padding-left: 10px;
        margin-top: 1.7rem;
    }
}
@media (max-width: 1023.98px) {
    
    .navs {
        margin: 60px 0 20px;
    }
    .write-cont-article {
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
    }
    .left-cont {
        padding: 0;
    }
    .main-cont {
        padding: 0 40px;
    }
    .left-cont {
        padding-right: 16.5px;
    }
    .right-cont {
        padding: 0;
    }
}
@media (max-width: 991.98px) {
    .right-cont {
        display: none;
    }
    .write-cont-article {
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }
    .category-cont {
        margin-bottom: 50px;
    }
}
@media (max-width: 767.98px) {
    .category-cont {
        display: block;
    }
    .img-cont {
        width: 100%;
        height: 225px;
    }
    .img-cont img {
        object-fit:cover;
        height: 100%;
        width: 100%;
    }
    .write-cont-header .link-tag {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .write-cont-article {
        margin: 0;
    }
    .min {
        opacity: 1;
    }
    .date {
        margin-left: 0;
    }
    .category-cont{
        margin-bottom: 25px;
    }
    .write-cont {
        padding: 10px;
    }
    .write-cont-title a{
        font-size: 22px;
    }
    .write-cont-text {
        font-size: 13px;
    }
    .write-cont-footer {
        margin-top: 10px;
    }
    .main-cont {
        margin-top: 7.2rem;
        padding: 0 20px;
    }
    
    .footer-down {
        display: none;
    }
    .left-cont {
        padding: 0;
    }
}