.navs {
    border-radius: 100px;
    background-color: var(--white-color);
    margin:3.8rem 0 4.4rem;
    padding: 1.55rem 2.86rem ;
    border: 1px solid var(--border-color);
    font-family: var(--Outfit);
    font-weight: 300;
}
.navsActive {
    background-color: var(--white-color);
    margin: 0 auto;
    padding: 3px 2.86rem ;
    border: 1px solid var(--border-color);
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 9;
    height: 77.19px;
    display: flex;
    justify-content: space-between;
}

.navsActive a,
.navs a {
  color: var(--black-color);
  text-decoration: none;
}
.logo-div {
  margin-right: 2.8rem;
}
.navsActive a:hover,
.navs a:hover {
  color: var(--main-color);
}
.nav-item {
    font-size: 15px;
    color: var(--black-color);
    padding: 10px 7.5px 10px 6.5px;
}
.dropbtn {
    color: var(--black-color);
    margin: 0 px;
    border: none;
    background-color: var(--white-color);
    font-weight: 300;
    display: flex;
    position: relative;
    top: calc(21%);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white-color);
    min-width: 160px;
    z-index: 1;
    border: 1px solid var(--border-color);
    border-radius: 10px;
  }
  
  .dropdown-content a {
    color: var(--black-color);
    padding: 10px 25px;
    text-decoration: none;
    display: block;
    font-size: 14px;
  }
  
  .dropdown-content a:hover {color: var(--main-color);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .logo-position {
    position: absolute;
    left: 8.4rem
  }
  .ul-position {
    position: absolute;
    right: 6.4rem
  }