.navs {
  border-radius: 100px;
  background-color: var(--white-color);
  margin: 3.8rem 28px 4.4rem;
  padding: 1.55rem 2.86rem;
  border: 1px solid var(--border-color);
  font-family: var(--Outfit);
  font-weight: 300;
}

.navsActive {
  background-color: var(--white-color);
  margin: 0 auto;
  padding: 3px 2.86rem;
  border: 1px solid var(--border-color);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  height: 77.19px;
  display: flex;
  justify-content: space-between;
}

.navsActive a,
.navs a {
  color: var(--black-color);
  text-decoration: none;
}

.logo-div {
  margin-right: 2.8rem;
}

.navsActive a:hover,
.navs a:hover {
  color: var(--main-color);
}

.nav-item {
  font-size: 15px;
  color: var(--black-color);
  padding: 10px 7.5px 10px 6.5px;
}



.dropbtn {
  color: var(--black-color);
  margin: 0 px;
  border: none;
  background-color: var(--white-color);
  font-weight: 300;
  display: flex;
  position: relative;
  top: calc(21%);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-link-content {
  display: none;
  position: absolute;
  right: -100%;
  top: 0;
  background-color: var(--white-color);
  min-width: 160px;
  z-index: 1;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white-color);
  min-width: 160px;
  z-index: 1;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.dropdown-content a {
  color: var(--black-color);
  padding: 10px 25px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}

.dropdown-content a:hover {
  color: var(--main-color);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item:hover .dropdown-link-content {
  display: block;
}

.dropdown-item:hover .dropbtn {
  width: 200%;
}

.logo-position {
  position: absolute;
  left: 8.4rem
}

.ul-position {
  position: absolute;
  right: 6.4rem
}

#searchIcon {
  display: none;
  background-color: var(--black-color);
  border-radius: 25px;
  height: 41px;
  width: 41px;
  position: absolute;
  right: 2.7rem;
}

#searchIcon img {
  width: 20px;
}

.menu-icon {
  display: none;
  border: none;
  outline: none;
  position: absolute;
  left: 2.2rem;
  background-color: transparent;
}

@media (max-width: 1200.98px) {
  .menu-icon {
    display: block;
  }
  .logo-position {
    position: absolute;
    left: calc(50% - 85px);
    
  }
  #searchIcon {
    display: flex;
    justify-content: center;
    align-items: center;

  }
}