.navs {
  border-radius: 100px;
  background-color: var(--white-color);
  margin: 3.8rem 10px 4.4rem;
  padding: 1.55rem 2.86rem;
  border: 1px solid var(--border-color);
  font-family: var(--Outfit);
  font-weight: 400;
}

.navsActive {
  background-color: var(--white-color);
  margin: 0 auto;
  padding: 3px 2.86rem;
  border: 1px solid var(--border-color);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  height: 77.19px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;

}

.navsActive a,
.navs a {
  color: var(--black-color);
  text-decoration: none;
}

.logo-div {
  margin-right: 2.8rem;
}
.dropbtn:hover,
.navsActive a:hover,
.navs a:hover {
  color: var(--main-color);
}

.logo-position {
  position: absolute;
  left: 8.4rem
}

.ul-position {
  position: absolute;
  right: 6.4rem
}

#searchIcon {
  display: none;
  background-color: var(--black-color);
  border-radius: 25px;
  height: 41px;
  width: 41px;
  position: absolute;
  right: 2.7rem;
  cursor: pointer;
}

#searchIcon img {
  width: 20px;
}

.menu-icon {
  display: none;
  border: none;
  outline: none;
  position: absolute;
  left: 2.2rem;
  background-color: transparent;
}


.nested-dropdowns {
  /* Border */
  border: 1px none;
  display: flex;

  /* Reset list styles */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nested-dropdowns li {
  font-size: 15px;
  color: var(--black-color);
  padding: 10px 7.5px 10px 6.5px;
  cursor: pointer;
  /* Spacing */
  /* padding: 0.25rem; */

  /* Used to position the sub nested-dropdowns */
  position: relative;
}

/* The sub nested-dropdowns */
.nested-dropdowns ul {
  /* Border */
  border: 1px solid var(--border-color);
  border-radius: 7px;
  z-index: 999;
  /* Hidden by default */
  display: none;
  background-color: var(--white-color);

  /* Absolute position */
  left: 0;
  position: absolute;
  top: 100%;
  

  /* Reset styles */
  list-style-type: none;
  margin: 0;
  padding-left: 1rem;
  width: 15rem;
}

/* The second level sub nested-dropdowns */
.nested-dropdowns ul ul {
  left: 100%;
  position: absolute;
  top: 0;
}

/* Change background color of list item when being hovered */
.nested-dropdowns li:hover {
  color: var(--main-color);
}

/* Show the direct sub nested-dropdowns when hovering the list item */
.nested-dropdowns li:hover > ul {
  display: block;
}
.sidebar-close{
  display: none;
}

@media (max-width: 1200.98px) {
  .sidebar-close {
    display: block;
  }
  .fa-magnifying-glass{
    display: none;
  }
  #navbarSupportedContent {
    height: 100vh;
    min-width: 320px;
    position: fixed;
    top: 0rem;
    border-top: 1px solid var(--border-color);
    left: 0;
    background-color: var(--white-color);
    z-index: 999;
  }
  .nested-dropdowns {
    width: 90%;
    margin: 0 auto;
  }
  .nested-dropdowns ul {
    border: none;
    position: relative;
    width: 270px;
    
  }
  .nested-dropdowns ul li {
    font-size: 14px;
    color: gray;
  }
  .nested-dropdowns ul ul {
      /* Border */
  border: none;
  border-radius: 7px;
  z-index: 999;
  /* Hidden by default */
  display: none;
  background-color: transparent;

  /* Absolute position */
  left: 0;
  position: relative;
  top: 100%;
  

  /* Reset styles */
  list-style-type: none;
  margin: 0;
  padding-left: 1rem;
  width: 270px;
  }
  .menu-icon {
    display: block;
  }
  .logo-position {
    position: absolute;
    left: calc(50% - 85px);
    
  }
  #searchIcon {
    display: flex;
    justify-content: center;
    align-items: center;

  }
}
@media (max-width: 766.98px) {
  #searchIcon {
    right:1rem;
  }
  .menu-icon {
    left: 1rem;
  }
 
}